<div class="container-fluid homepage">
  <div class="row">
    <div class="col-md-offset-4 col-md-4 main-page">
      <%= image_tag "paynearby-logo", class: "main-logo"%>
      <div class="row nav-btns">
        <div class="col-md-6">
          <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
        </div>
        <div class="col-md-6">
          <%= link_to "SignUp", new_user_registration_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

</div>
